/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

@import "https://unpkg.com/open-props";

html, body, #app {
  height: 100%;
  margin: 0;
  color: var(--dark-blue);
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --off-white: #F1F7FF;
  --background-blue: #BDECFC;
  --dark-blue: #073b4d;
  --header-1: 2rem;
  --header-2: 1.5rem;
  --header-3: 1rem;
  --shadow-color: rgb(78, 90, 114);

  --standard-text: .8rem;
  --header-height: 40px;
  --header-padding: 10px;

  --header-total-height: calc(var(--header-height) + var(--header-padding) + var(--header-padding));
  
}
